html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}

html {
  line-height: 1
}

ol, ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

q, blockquote {
  quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none
}

a img {
  border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

html, body {
  font-family: "Helvetica Neue For Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1.5rem;
  word-wrap: break-word;
  color: #333;
  background: #f2f2f2;
  -webkit-font-smoothing: subpixel-antialiased
}

body {
  -webkit-overflow-scrolling: touch
}

blockquote {
  margin: 0.5rem 0;
  padding: .5rem;
  background-color: #f2f2f2;
  border-left: 4px solid #e6e6e6;
  word-break: break-all;
  font-size: smaller;
  line-height: 1.5em;
  color: #237804
}

span, label, p, div {
  -webkit-tap-highlight-color: transparent
}

::-webkit-scrollbar {
  display: none
}

.m6-box-cell-2 {
  width: 50%
}

.m6-box-cell {
  position: relative;
  display: inline-block;
  padding: .5rem 0 0 0;
  text-align: center;
  font-size: 90%
}

.m6-box-cell-label {
  text-align: center;
  margin: 2px 0 .5rem 0;
  color: #333;
  font-size: 95%
}

.m6-box-cell-icon {
  display: block;
  height: 2.2rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: sub
}

.m6-box-cell-span {
  font-size: 1.2rem;
  line-height: normal
}

.m6-box-cell-span:before {
  box-sizing: border-box
}

.m6-box-cells {
  padding: .5rem
}

.m6-search {
  padding: .4rem .5rem
}

.m6-search .m6-search-c {
  position: relative;
  padding: 0 1rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e6e6e6
}

.m6-search .m6-search-c .m6-search-c-input {
  width: 100%;
  background: transparent;
  border: none;
  margin: 0;
  padding-right: 1rem;
  line-height: 1.75rem;
  color: #666;
  font-size: 1rem;
  outline: 0;
  -webkit-appearance: none
}

.m6-search .m6-search-c .m6-search-c-input::-webkit-search-cancel-button {
  display: none
}

.m6-search .m6-search-c .m6-search-c-input:-moz-placeholder {
  color: #999
}

.m6-search .m6-search-c .m6-search-c-input::-moz-placeholder {
  color: #999
}

.m6-search .m6-search-c .m6-search-c-input:-ms-input-placeholder {
  color: #999
}

.m6-search .m6-search-c .m6-search-c-input::-webkit-input-placeholder {
  color: #999
}

.m6-search .m6-search-c .m6-search-c-right {
  position: absolute;
  z-index: auto;
  left: auto;
  top: .5rem;
  right: .5rem;
  bottom: auto
}

.m6-search:hover .m6-search-c {
  box-shadow: 0 0 3px #e0e0e0
}

.m6-search-dark {
  background: transparent
}

.m6-search-dark .m6-search-c {
  background: #329bfd;
  border-color: transparent
}

.m6-search-dark .m6-search-c .m6-search-c-input {
  color: #fafafa
}

.m6-search-dark .m6-search-c .m6-search-c-input:-moz-placeholder {
  color: #e6e6e6
}

.m6-search-dark .m6-search-c .m6-search-c-input::-moz-placeholder {
  color: #e6e6e6
}

.m6-search-dark .m6-search-c .m6-search-c-input:-ms-input-placeholder {
  color: #e6e6e6
}

.m6-search-dark .m6-search-c .m6-search-c-input::-webkit-input-placeholder {
  color: #e6e6e6
}

.m6-search-dark:hover .m6-search-c {
  background: #2696ff
}

.m6-header-root {
  position: relative;
  display: block
}

.m6-header-root .m6-header {
  position: fixed;
  z-index: 1010;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  height: 3rem;
  color: #fff;
  background: #5076ab;
  background-size: 100%, contain;
  box-sizing: border-box;
  box-shadow: none;
  border-bottom: none;
  border-image: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.m6-header-root .m6-header .m6-header-text {
  line-Height: 3rem;
  font-size: 1rem;
  font-Weight: normal;
  white-Space: nowrap;
  text-Overflow: ellipsis;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem
}

.m6-header-root .m6-header .m6-header-title {
  margin: 0 2rem;
  font-weight: bold
}

.m6-header-root .m6-header .m6-header-title .m6-search {
  max-height: 3rem
}

.m6-header-root .m6-header .m6-header-title .m6-search .m6-search-c {
  line-height: 1.76rem
}

.m6-header-root .m6-header .m6-header-btn-title {
  display: inline-block;
  margin: 0 0.2em;
  font-size: 0.95rem;
  font-weight: normal;
  text-shadow: none
}

.m6-header-root .m6-header .m6-header-left {
  position: absolute;
  z-index: 1;
  left: .5rem;
  top: 0;
  right: auto;
  bottom: auto
}

.m6-header-root .m6-header .m6-header-right {
  position: absolute;
  z-index: 1;
  left: auto;
  top: 0;
  right: .5rem;
  bottom: auto
}

.m6-header-root .m6-header-blank {
  position: static;
  display: block;
  height: 3rem
}

.m6-header-root .m6-header-transparent {
  background: transparent;
  border: none;
  border-image: none
}

.m6-header-root .m6-header-absolute {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0
}

.m6-header-root-float {
  position: absolute;
  z-index: auto;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto
}

.m6-header-extend-bg {
  background: #fff
}

.m6-c {
  width: 100%;
  background: #f2f2f2
}

.m6-c-root {
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.m6-c-horizontal {
  position: relative;
  overflow-x: auto
}

.m6-c-an {
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.m6-c-mask {
  position: fixed;
  z-index: 1;
  left: -10%;
  top: -10%;
  right: -10%;
  bottom: -10%;
  background: rgba(20, 20, 20, 0.4);
  pointer-events: auto;
  overflow: hidden
}

.m6-c-transparent {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  pointer-events: auto
}

.m6-form {
  position: relative;
  background: #fff
}

.m6-input-area {
  display: block;
  min-height: 24px;
  border: none;
  outline: 0;
  background-color: transparent;
  text-align: inherit;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all
}

.m6-input-type {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 24px;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit
}

.m6-lake-root {
  position: relative;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: auto;
  background: none
}

.m6-lake-root:hover {
  box-shadow: 0 0 3px #e0e0e0
}

.m6-lake-root .m6-lake {
  position: relative;
  font-size: 1rem
}

.m6-lake-root .m6-lake .m6-lake-title {
  position: absolute;
  z-index: 1;
  left: auto;
  top: 0;
  right: auto;
  bottom: auto;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-weight: 500;
  color: #003a8c;
  pointer-events: none
}

.m6-lake-root .m6-lake .m6-lake-title:before {
  content: "*";
  color: transparent;
  text-align: center;
  margin: 0 0.4em
}

.m6-lake-root .m6-lake .m6-lake-title-required:before {
  color: red
}

.m6-lake-root .m6-lake .m6-lake-title-vertical {
  position: static;
  display: block;
  padding-bottom: 0
}

.m6-lake-root .m6-lake .m6-lake-placeholder {
  position: absolute;
  z-index: 1;
  left: auto;
  top: 0;
  right: auto;
  bottom: auto;
  padding: 0.5rem 1rem;
  color: #ccc;
  pointer-events: none
}

.m6-lake-root .m6-lake .m6-lake-icon-right {
  position: absolute;
  z-index: 1;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  padding: 0.5rem;
  color: #999
}

.m6-lake-root .m6-lake .m6-lake-input-area {
  padding: 0.5rem 1rem
}

.m6-lake-root .m6-lake .m6-lake-warning {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto
}

.m6-lake-root .m6-lake .m6-lake-warning .m6-lake-warning-triangle {
  position: absolute;
  z-index: 2;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  width: 0;
  height: 0;
  border: .5rem solid transparent;
  border-color: #ff4d4f #ff4d4f transparent transparent
}

.m6-lake-root .m6-lake .m6-lake-warning .m6-lake-warning-text {
  position: absolute;
  z-index: 1;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  font-size: 0.8em;
  font-weight: 600;
  padding-left: 1.0em;
  padding-right: 1.2em;
  color: #ff4d4f;
  line-height: 1.5em
}

.m6-lake-root .m6-lake-foot {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  color: #666;
  padding: 0.1em 0;
  font-size: 95%
}

.m6-lake-root-disabled:hover {
  box-shadow: none
}

.m6-lake-root-readOnly .m6-lake .m6-lake-title {
  color: #666
}

.m6-lake-root-readOnly .m6-lake .m6-lake-input-area {
  color: #666
}

.m6-lake-inner .m6-lake-root {
  border-bottom: none
}

.m6-lake-inner .m6-lake-root:hover {
  box-shadow: none
}

.m6-lake-inner .m6-lake-root .m6-lake .m6-lake-title {
  padding: 0 0.5rem 0 0
}

.m6-lake-inner .m6-lake-root .m6-lake .m6-lake-input-area {
  padding: 0 1rem
}

.m6-button {
  background: #fff;
  color: #1890ff;
  margin: .5rem;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1rem;
  transition: all .3s ease-in-out;
  transition-duration: .35s
}

.m6-button .m6-button-c {
  -webkit-flex: 1;
  flex: 1;
  padding: .5rem 0;
  text-align: center;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem
}

.m6-button:active {
  background: #fafafa
}

.m6-buttons {
  margin: .5rem;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.m6-buttons .m6-button {
  -webkit-flex: 3;
  flex: 3;
  margin: 0;
  border: none;
  border-left: 1px solid #ededed;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0
}

.m6-buttons :first-child {
  border-left: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px
}

.m6-buttons :last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px
}

.m6-buttons .m6-button-hint {
  -webkit-flex: 1;
  flex: 1;
  background-color: #fafafa;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px
}

.m6-buttons-in-alert {
  border: none;
  border-top: 1px solid #e6e6e6;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: auto
}

.m6-buttons-in-alert :first-child {
  border-top-left-radius: 0
}

.m6-buttons-in-alert :last-child {
  border-top-right-radius: 0
}

.m6-button-disabled {
  background: #e0e0e0;
  color: #999
}

.m6-button-disabled:active {
  background: #e0e0e0
}

.m6-quote {
  min-height: 2.5rem;
  border-top: .5rem solid transparent;
  overflow: hidden
}

.m6-quote .m6-quote-bar {
  position: relative;
  background: inherit;
  background-size: 100%, contain;
  color: #999
}

.m6-quote .m6-quote-bar .m6-quote-title {
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 95%;
  padding: 0 1rem
}

.m6-quote .m6-quote-bar .m6-quote-title .m6-quote-title-left {
  padding-right: 0.5rem
}

.m6-quote .m6-quote-bar .m6-quote-title .m6-quote-title-right {
  position: absolute;
  right: 1rem;
  line-height: 2.5rem;
  font-weight: normal;
  font-size: 90%
}

.m6-quote .m6-quote-c {
  border-top: 1px solid #e6e6e6;
  background: #fff
}

.m6-list {
  position: relative
}

.m6-list .m6-list-c {
  background: #f2f2f2
}

.m6-list .m6-list-i {
  position: relative;
  border-top: 1px solid #e6e6e6;
  overflow-x: hidden;
  background: #fff
}

.m6-list .m6-list-i .m6-list-i-hint {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f2f2f2
}

.m6-list .m6-list-i .m6-list-i-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.m6-list .m6-list-i .m6-list-i-c .m6-list-i-c-left {
  -webkit-flex: 1;
  flex: 1;
  font-size: 1rem;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.m6-list-slide:before {
  content: "";
  position: absolute;
  z-index: auto;
  left: 0;
  top: auto;
  right: 0;
  bottom: auto;
  line-height: 6rem;
  color: #ccc;
  font-size: 95%;
  font-weight: bold;
  text-align: center
}

.m6-list-slide:after {
  content: "";
  position: absolute;
  z-index: auto;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  line-height: 6rem;
  color: #ccc;
  font-size: 95%;
  font-weight: bold;
  text-align: center
}

.m6-list-slide-load:before {
  content: "下拉刷新"
}

.m6-list-slide-load:after {
  content: "上拉加载"
}

.m6-list-slide-active:before {
  content: "松开载入"
}

.m6-list-slide-active:after {
  content: "松开载入"
}

.m6-list-i-lake-s .m6-lake .m6-lake-title {
  padding: 0.3rem 0.5rem 0.3rem 0
}

.m6-list-i-lake-s .m6-lake .m6-lake-input-area {
  padding: 0.3rem 1rem
}

.m6-dict-title {
  color: #333
}

.m6-dict-title .m6-dict-title-hint {
  width: 100%;
  line-height: 2.5rem;
  text-align: center;
  font-size: 95%
}

.m6-dict-title .m6-dict-title-hint .m6-dict-title-hint-left {
  position: absolute;
  z-index: auto;
  left: .6rem;
  top: auto;
  right: auto;
  bottom: auto;
  color: #999
}

.m6-dict-title .m6-dict-title-hint .m6-dict-title-hint-right {
  position: absolute;
  z-index: auto;
  left: auto;
  top: auto;
  right: .6rem;
  bottom: auto;
  font-weight: bold;
  color: #1890ff
}

.m6-dict-title .m6-dict-title-loading {
  position: absolute;
  z-index: 1;
  left: 0;
  top: auto;
  right: 0;
  bottom: auto;
  min-height: 2.2rem;
  line-height: 2.2rem;
  background: #fffb8f;
  text-align: center;
  color: #666;
  font-size: 95%
}

.m6-dict-title .m6-search {
  max-height: 2.5rem
}

.m6-dict-title .m6-search .m6-search-c .m6-search-c-input {
  line-height: 1.65rem;
  font-size: 95%
}

.m6-dict-title .m6-dict-title-tab {
  line-height: 2.2rem
}

.m6-dict-title .m6-dict-title-tab .m6-dict-title-tab-content label {
  position: relative;
  padding: 0 0.5em;
  font-size: 95%;
  color: #ccc
}

.m6-dict-title .m6-dict-title-tab .m6-dict-title-tab-content :last-child {
  color: #333;
  overflow: hidden
}

.m6-dict-title .m6-dict-title-tab .m6-dict-title-tab-content :last-child:after {
  content: " ";
  position: absolute;
  z-index: 1;
  left: 0;
  top: auto;
  right: 0;
  bottom: -.726rem;
  margin: 0 auto;
  width: 7px;
  height: 7px;
  border-radius: 1px;
  background-color: #f2f2f2;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.m6-dict-division {
  line-height: 1.25rem;
  text-align: center;
  border-top: 1px solid #e6e6e6
}

.m6-dict-division .m6-dict-division-text {
  color: #999;
  font-size: small
}

.m6-dict .m6-dict-list-i {
  padding: 0.4rem 0.5rem 0.4rem 1rem
}

.m6-dict .m6-dict-list-i:hover {
  background: rgba(240, 245, 255, 0.8)
}

.m6-table-root {
  position: relative;
  min-height: 20%;
  border: .5rem solid transparent;
  border-width: .5rem 0
}

.m6-table {
  width: 100%;
  font-size: 95%;
  background: #fff
}

.m6-table .m6-table-func-icon {
  margin: 0 0.2rem
}

.m6-table .m6-table-cell-text {
  color: #333;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all
}

.m6-table th, .m6-table td {
  padding: 2px 2px;
  border-left: 1px solid #ededed;
  text-align: center
}

.m6-table th:first-child, .m6-table td:first-child {
  border: none
}

.m6-table .m6-table-thead {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
  color: #666
}

.m6-table .m6-table-thead tr th {
  font-weight: bold;
  padding: 3px 2px
}

.m6-table .m6-table-tbody {
  width: 100%;
  color: #333
}

.m6-table .m6-table-tbody tr {
  height: 1rem;
  border-bottom: 1px solid #f2f2f2
}

.m6-table .m6-table-tbody tr:nth-child(2n-1) {
  background: #fafafa
}

.m6-table .m6-table-tfoot {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6
}

.m6-table .m6-table-tfoot th, .m6-table .m6-table-tfoot td {
  height: 2.2rem
}

.m6-datetime {
  width: 100%;
  line-height: 2.5rem;
  font-size: 1rem
}

.m6-datetime:after {
  content: "";
  display: block;
  min-height: .5rem
}

.m6-datetime .m6-datetime-i {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  text-align: center
}

.m6-datetime .m6-datetime-i .m6-datetime-i-o {
  display: block;
  -webkit-flex: 1;
  flex: 1;
  width: auto;
  height: 12.5rem;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: transparent
}

.m6-datetime .m6-datetime-i .m6-datetime-i-o .m6-datetime-i-o-num {
  display: block;
  visibility: visible;
  text-align: center;
  color: #999
}

.m6-datetime .m6-datetime-i .m6-datetime-i-o .m6-datetime-i-o-num-checked {
  color: #333;
  font-weight: 600
}

.m6-datetime .m6-datetime-i .m6-datetime-i-o .m6-datetime-i-o-num-hidden {
  display: none;
  visibility: hidden
}

.m6-datetime .m6-datetime-i .m6-datetime-i-o:before, .m6-datetime .m6-datetime-i .m6-datetime-i-o:after {
  content: " ";
  display: block;
  height: 5rem
}

.m6-datetime .m6-datetime-i :last-child {
  border: 0
}

.m6-datetime .m6-datetime-func {
  width: 100%;
  min-height: 2.5rem;
  line-height: 2.5rem;
  border-bottom: 1px solid #e6e6e6;
  color: #333;
  background: #fafafa;
  font-size: 95%
}

.m6-datetime .m6-datetime-func .m6-datetime-func-left {
  position: absolute;
  z-index: auto;
  left: .6rem;
  top: auto;
  right: auto;
  bottom: auto;
  color: #999
}

.m6-datetime .m6-datetime-func .m6-datetime-func-right {
  position: absolute;
  z-index: auto;
  left: auto;
  top: auto;
  right: .6rem;
  bottom: auto;
  font-weight: bold;
  color: #1890ff
}

.m6-datetime .m6-datetime-bar {
  position: absolute;
  z-index: -2;
  left: 0;
  top: auto;
  right: 0;
  bottom: auto
}

.m6-datetime .m6-datetime-bar-top {
  top: 2.5rem;
  min-height: 7.5rem;
  background: linear-gradient(to bottom, #fafafa, #ffffff)
}

.m6-datetime .m6-datetime-bar-bottom {
  bottom: 0;
  min-height: 8rem;
  background: linear-gradient(to top, #ededed, #fafafa, #ffffff)
}

.m6-datetime .m6-datetime-checked-bar {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 7.5rem;
  right: 0;
  bottom: auto;
  min-height: 2.5rem;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6
}

.m6-datetime-root .m6-lake .m6-lake-input-area {
  text-align: right
}

.m6-select {
  font-size: 1rem
}

.m6-select .m6-select-title {
  line-height: 2.2rem;
  padding: 0 .5rem
}

.m6-select .m6-select-c {
  position: absolute;
  z-index: 9;
  left: 0;
  top: auto;
  right: 0;
  bottom: auto;
  background: #fff;
  padding: 0 .5rem
}

.m6-select .m6-select-c:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #e6e6e6
}

.m6-select .m6-select-c .m6-select-c-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%
}

.m6-select .m6-select-c .m6-select-c-2 .m6-select-c-2-left {
  -webkit-flex: 2;
  flex: 2;
  background: #f2f2f2
}

.m6-select .m6-select-c .m6-select-c-2 .m6-select-c-2-right {
  -webkit-flex: 3;
  flex: 3
}

.m6-select .m6-select-c .m6-select-c-2 .m6-select-c-i-d {
  background: #f2f2f2;
  padding: 0.4rem 0.5rem
}

.m6-select .m6-select-c .m6-select-c-2 .m6-select-c-i {
  background: #fff;
  padding: 0.4rem 0.5rem
}

.m6-select .m6-select-c .m6-select-c-2 .m6-select-c-i:hover {
  background: rgba(240, 245, 255, 0.8)
}

.m6-select .m6-select-c .m6-select-c-func {
  border: none;
  border-top: 1px solid #e6e6e6;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: auto;
  border-top: 1px solid #ededed
}

.m6-select .m6-select-c .m6-select-c-func-reset {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #999
}

.m6-select-icon {
  margin-left: 0.2em
}

.m6-select-active {
  font-weight: 600;
  color: #096dd9
}

.m6-checkbox .m6-checkbox-i {
  margin: 0 0.3em
}

.m6-checkbox .m6-checkbox-i .m6-checkbox-i-icon {
  pointer-events: none;
  margin-right: 0.2em
}

.m6-checkbox-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.m6-checkbox-col .m6-checkbox-i {
  -webkit-flex: 1;
  flex: 1
}

.m6-image {
  position: relative;
  overflow: hidden
}

.m6-image .m6-image-i {
  vertical-align: middle;
  background: transparent url("../image/image_loading.png") center no-repeat;
  background-size: cover;
  vertical-align: sub;
  transition: all .3s ease-in-out;
  display: inline-block
}

.m6-image .m6-image-i-error-background {
  background: transparent url("../image/image_error.png") center no-repeat
}

.m6-image .m6-image-i-non-background {
  background: none
}

.m6-image .m6-image-nav-o {
  position: absolute;
  z-index: 1;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  background: transparent;
  text-align: center
}

.m6-image .m6-image-nav-o .m6-image-nav-o-bullet {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 3px;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  background: #e6e6e6;
  transition: all .3s ease-in-out
}

.m6-image .m6-image-nav-o .m6-image-nav-o-bullet-active {
  background: #91d5ff;
  cursor: default
}

.m6-image .m6-image-func-add {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  margin: 0.5rem 0 0 0.5rem
}

.m6-image .m6-image-def {
  position: absolute;
  z-index: auto;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  color: #666;
  text-align: center
}

.m6-image .m6-image-zoom {
  position: fixed;
  z-index: 1021;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  overflow: auto
}

.m6-image .m6-image-zoom .m6-image-zoom-func {
  position: fixed;
  z-index: 1021;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  height: 3rem;
  font-size: 1rem;
  color: #fafafa;
  background: rgba(20, 20, 20, 0.4);
  pointer-events: none
}

.m6-image .m6-image-zoom .m6-image-zoom-func-left {
  position: absolute;
  z-index: auto;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  line-Height: 3rem;
  margin: 0 .5rem;
  pointer-events: auto
}

.m6-image .m6-image-zoom .m6-image-zoom-func-right {
  position: absolute;
  z-index: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  line-Height: 3rem;
  margin: 0 .5rem;
  pointer-events: auto
}

.m6-image .m6-image-zoom .m6-image-zoom-c {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto
}

.m6-image .m6-image-zoom .m6-image-zoom-c .m6-image-zoom-c-img {
  position: absolute;
  z-index: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  pointer-events: auto;
  width: 100%
}

.m6-image .m6-image-box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 3px solid transparent;
  box-sizing: border-box
}

.m6-image .m6-image-box .m6-image-i {
  width: 100%;
  height: 100%;
  margin: auto
}

.m6-image .m6-image-box .m6-image-box-add {
  width: 100%;
  height: 100%;
  border: 1px solid #e6e6e6;
  box-sizing: border-box
}

.m6-image .m6-image-box .m6-image-circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%
}

.m6-schedule {
  width: 100%;
  height: auto;
  background: #fff;
  overflow: hidden
}

.m6-schedule .m6-schedule-li {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 0 .5rem;
  font-size: 1rem
}

.m6-schedule .m6-schedule-li .m6-schedule-li-left {
  width: 5rem;
  margin: .5rem 0;
  text-align: center;
  font-size: small;
  color: #666
}

.m6-schedule .m6-schedule-li .m6-schedule-li-center {
  padding: 0 .5rem;
  text-align: center
}

.m6-schedule .m6-schedule-li .m6-schedule-li-center .m6-schedule-li-circle:after {
  content: " ";
  position: absolute;
  z-index: auto;
  left: .4em;
  top: 1em;
  right: auto;
  bottom: auto;
  height: 300px;
  border-right: 1px solid #e6e6e6;
  overflow: hidden;
  zoom: 3.3
}

.m6-schedule .m6-schedule-li .m6-schedule-li-center-line-hidden .m6-schedule-li-circle:after {
  top: 1.5em;
  left: -0.5em;
  border-color: transparent
}

.m6-schedule .m6-schedule-li .m6-schedule-li-right {
  -webkit-flex: 4;
  flex: 4;
  margin: .5rem 0
}

.m6-schedule .m6-schedule-li .m6-schedule-li-circle {
  margin-top: .375rem;
  transform: scale(0.5)
}

.m6-schedule .m6-schedule-li-active .m6-schedule-li-left {
  color: #096dd9;
  font-weight: bold
}

.m6-schedule .m6-schedule-li-active .m6-schedule-li-center {
  color: #096dd9
}

.m6-schedule .m6-schedule-li-active .m6-schedule-li-center .m6-schedule-li-circle {
  transform: scale(1)
}

.m6-schedule .m6-schedule-li-active .m6-schedule-li-right {
  color: #096dd9;
  font-weight: bold
}

.m6-schedule .m6-schedule-li-last .m6-schedule-li-center .m6-schedule-li-circle {
  transform: scale(0.8)
}

.m6-security-code {
  font-weight: bold;
  font-size: large
}

.m6-security-code .m6-security-code-i {
  padding: 2px;
  display: inline-block
}

.m6-security-code .m6-security-code-tf-1 {
  color: #40a9ff;
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px)
}

.m6-security-code .m6-security-code-tf-2 {
  color: #7cb305;
  -moz-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px)
}

.m6-security-code .m6-security-code-tf-3 {
  color: #b37feb;
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg)
}

.m6-security-code .m6-security-code-tf-4 {
  color: #f5222d;
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -webkit-transform: rotate(-18deg);
  transform: rotate(-18deg);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px)
}

.m6-security-code .m6-security-code-tf-5 {
  color: #ffec3d;
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px)
}

.m6-progress {
  margin: .5rem 0
}

.m6-progress .m6-progress-line {
  position: relative;
  width: 100%
}

.m6-progress .m6-progress-line .m6-progress-line-cur {
  position: absolute;
  z-index: auto;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  width: 0;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.m6-progress .m6-progress-num {
  width: 3rem
}

.m6-progress .m6-progress-num-in {
  position: absolute;
  z-index: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center
}

.m6-shortcut {
  position: fixed;
  z-index: 9999;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto
}

.m6-shortcut .m6-shortcut-icon {
  position: inherit;
  top: 66%;
  right: 3.8%;
  width: 2.5rem;
  height: 2.5rem
}

.m6-shortcut .m6-shortcut-bar {
  position: fixed;
  z-index: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.m6-shortcut .m6-shortcut-bar .m6-shortcut-bar-c {
  position: absolute;
  z-index: 2;
  left: auto;
  top: 0;
  right: auto;
  bottom: 0;
  width: 70%;
  background: #f2f2f2
}

.m6-shortcut .m6-shortcut-bar .m6-shortcut-bar-c-left {
  right: 0
}

.m6-shortcut .m6-shortcut-bar .m6-shortcut-bar-c-right {
  left: 0
}

.m6-shortcut .m6-shortcut-hint-num {
  position: absolute;
  z-index: auto;
  left: auto;
  top: -.625rem;
  right: -.625rem;
  bottom: auto;
  -moz-border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  border-radius: 1.2rem;
  background: #ff4d4f;
  color: #fff;
  min-width: 1.25rem;
  height: 1.25rem;
  line-height: 1.125rem;
  font-size: .5rem;
  padding: 0 2px;
  transition: all .3s ease-in-out
}

.m6-tab {
  position: fixed;
  z-index: auto;
  left: 0;
  top: auto;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 3rem;
  display: inline-flex;
  color: #ccc;
  text-align: center;
  box-sizing: border-box;
  background: #fff;
  background-size: 100%, contain;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.m6-tab a {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  height: 100%
}

.m6-tab .m6-tab-i {
  position: relative;
  -webkit-flex: 1;
  flex: 1;
  height: 100%
}

.m6-tab .m6-tab-i .m6-tab-i-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: sub
}

.m6-tab .m6-tab-i .m6-tab-i-hint {
  position: absolute;
  z-index: 1;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  padding: 3px;
  min-width: 12px;
  border-radius: 1rem;
  background: #FF3B30;
  color: #fff;
  font-weight: normal;
  font-size: smaller;
  line-height: 12px
}

.m6-tab .m6-tab-i .m6-tab-i-red-dot {
  position: absolute;
  z-index: 1;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  background: #FF3B30;
  border-radius: .5rem;
  line-height: normal;
  min-width: .5rem;
  min-height: .5rem
}

.m6-tab .m6-tab-i-active {
  color: #096dd9;
  font-weight: 600
}

.m6-tab .m6-tab-i-active .m6-tab-i-icon {
  color: #096dd9
}

.m6-tab .m6-tab-i-active .m6-tab-i-img {
  -webkit-filter: none;
  filter: none
}

.m6-tab-top {
  z-index: 1000;
  top: 3rem;
  left: 0;
  height: 2.4rem;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.m6-tab-top .m6-tab-i-icon {
  display: none
}

.m6-tab-top .m6-tab-i-img {
  display: none
}

.m6-tab-top .m6-tab-i-label {
  display: inline-block;
  line-height: 1.92rem;
  font-size: small;
  padding: 0 .5rem
}

.m6-tab-top .m6-tab-i-hint, .m6-tab-top .m6-tab-i-red-dot {
  top: .6rem;
  margin-left: 0.35em
}

.m6-tab-top .m6-tab-i-active .m6-tab-i-label {
  border-bottom: 2px solid
}

.m6-tab-bottom {
  z-index: 1020;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e6e6e6
}

.m6-tab-bottom .m6-tab-i-icon {
  display: block;
  font-size: 1rem;
  max-height: 1.5rem;
  padding-top: 0.1em
}

.m6-tab-bottom .m6-tab-i-img {
  display: block;
  width: 100%;
  min-height: 1.2rem;
  margin-top: .3rem;
  object-fit: contain
}

.m6-tab-bottom .m6-tab-i-label {
  display: block;
  max-height: 1.5rem;
  line-height: 1.5rem;
  font-size: small
}

.m6-tab-bottom .m6-tab-i-hint, .m6-tab-bottom .m6-tab-i-red-dot {
  top: 3px;
  margin-left: .5rem
}

.m6-tab-top-blank .m6-c-body:before {
  content: " ";
  display: block;
  width: 1px;
  height: 2.4rem
}

.m6-tab-bottom-blank .m6-c-body:after {
  content: " ";
  display: block;
  width: 1px;
  height: 3rem
}

.m6-pp-root {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none
}

.m6-pp {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%
}

.m6-pp .m6-pp-toast {
  position: absolute;
  z-index: 9;
  left: 0;
  top: auto;
  right: 0;
  bottom: 10%;
  pointer-events: auto
}

.m6-pp .m6-pp-toast .m6-pp-toast-i {
  position: relative;
  margin: 3% 4%;
  text-align: center
}

.m6-pp .m6-pp-toast .m6-pp-toast-i .m6-pp-toast-i-c {
  position: relative;
  padding: .5rem;
  background: #333;
  color: #fff;
  word-wrap: break-word;
  word-break: break-all;
  -moz-border-radius: .4rem;
  -webkit-border-radius: .4rem;
  border-radius: .4rem
}

.m6-pp .m6-pp-dialog {
  position: absolute;
  z-index: 7;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  pointer-events: auto
}

.m6-pp .m6-pp-dialog .m6-pp-dialog-c {
  position: absolute;
  z-index: 1;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  min-height: 20%;
  max-height: 100%;
  background-color: #f2f2f2
}

.m6-pp .m6-pp-dialog .m6-pp-dialog-c .m6-c-root .m6-c-body {
  position: absolute;
  z-index: auto;
  left: 0;
  top: auto;
  right: 0;
  bottom: auto;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}

.m6-pp .m6-pp-dialog .m6-pp-dialog-c .m6-button {
  background: #fff;
  border: none;
  border-top: 1px solid #e6e6e6;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: auto
}

.m6-pp .m6-pp-alert {
  position: absolute;
  z-index: 8;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  pointer-events: auto
}

.m6-pp .m6-pp-alert .m6-pp-alert-c {
  position: relative;
  max-width: 90%;
  max-height: 70%;
  background-color: #fff;
  overflow-y: auto;
  -moz-border-radius: .4rem;
  -webkit-border-radius: .4rem;
  border-radius: .4rem
}

.m6-pp .m6-pp-alert .m6-pp-alert-c .m6-pp-alert-c-func {
  position: absolute;
  z-index: 1;
  left: auto;
  top: auto;
  right: 0;
  bottom: auto;
  text-align: right;
  margin: 0.4rem
}

.m6-pp .m6-pp-popover {
  position: absolute;
  z-index: 6;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto
}

.m6-pp .m6-pp-popover .m6-pp-popover-c {
  position: absolute;
  z-index: 2;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  font-size: 1rem
}

.m6-pp .m6-pp-popover .m6-pp-popover-c .m6-pp-popover-c-c {
  position: relative;
  padding: .5rem;
  background-color: #f2f2f2;
  -moz-border-radius: .4rem;
  -webkit-border-radius: .4rem;
  border-radius: .4rem
}

.m6-pp .m6-pp-popover .m6-pp-popover-s {
  position: absolute;
  z-index: -1;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 7px;
  height: 7px;
  border-radius: 1px;
  background-color: #f2f2f2;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.21);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.21)
}

.m6-network {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.m6-network-load {
  text-align: center;
  margin: auto;
  padding: .5rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: .5rem;
  min-width: 6rem
}

.m6-network-load .m6-network-load-rect {
  height: 3rem;
  margin: auto
}

.m6-network-load .m6-network-load-rect div {
  display: inline-block;
  background-color: #fafafa;
  height: 100%;
  width: 0.2rem;
  margin: 0 0.15rem;
  -moz-animation: m6-network-load-rect 1.5s infinite ease-in-out;
  -webkit-animation: m6-network-load-rect 1.5s infinite ease-in-out;
  animation: m6-network-load-rect 1.5s infinite ease-in-out
}

.m6-network-load .m6-network-load-rect .m6-network-load-rect-2 {
  -moz-animation-delay: -1.35s;
  -webkit-animation-delay: -1.35s;
  animation-delay: -1.35s
}

.m6-network-load .m6-network-load-rect .m6-network-load-rect-3 {
  -moz-animation-delay: -1.2s;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s
}

.m6-network-load .m6-network-load-rect .m6-network-load-rect-4 {
  -moz-animation-delay: -1.05s;
  -webkit-animation-delay: -1.05s;
  animation-delay: -1.05s
}

.m6-network-load .m6-network-load-rect .m6-network-load-rect-5 {
  -moz-animation-delay: -.9s;
  -webkit-animation-delay: -.9s;
  animation-delay: -.9s
}

@-moz-keyframes m6-network-load-rect {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4)
  }
  20% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
  }
}

@-webkit-keyframes m6-network-load-rect {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4)
  }
  20% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
  }
}

@keyframes m6-network-load-rect {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4)
  }
  20% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
  }
}

.m6-network-load .m6-network-load-text {
  font-size: small;
  color: #fff
}

.m6-v-shadow:after {
  content: " ";
  display: block;
  position: absolute;
  z-index: -10;
  left: 3px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  -moz-box-shadow: 0 0 20px 2px #999;
  -webkit-box-shadow: 0 0 20px 2px #999;
  box-shadow: 0 0 20px 2px #999
}

.m6-word-break {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all
}

.m6-center-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center
}

.m6-center-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center
}

.m6-hidden {
  display: none
}

.m6-show {
  display: block
}
