.main-top {
  background: #ffffff;
  .main-top-1 {
    position: relative;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eeeeee;
    .main-top-1-dept {
      float: right;
      margin-top: 0.3rem;
      color: #888888;
      font-size: small;
    }
  }

  .main-top-2 {
    position: relative;
    padding: 0.25rem 1rem 0 1rem;
    .main-top-2-head {
      width: 3rem;
      height: 3rem;
    }
    .main-top-2-name {
      position: absolute;
      left: 4.75rem;
      top: 0.25rem;
      display: inline-block;
      .main-top-2-name-t {
        display: block;
        margin-top: 0.2rem;
        font-size: 95%;
      }
      .main-top-2-name-c {
        display: block;
        line-height: normal;
        font-size: small;
        color: #888888;
      }
    }
    .main-top-2-tips {
      position: absolute;
      right: 0.5rem;
      top: 0.25rem;
      display: inline-block;
      line-height: 3rem;
      color: rgb(9, 109, 217);
      font-size: 90%;
    }
  }
}

.main-content-1 {
  background: #fefefe;
  padding: .5rem .5rem 0 .5rem;

  .main-content-1-i {
    position: relative;
    display: inline-block;
    padding: .5rem 0 .5rem 0;
    text-align: center;
    width: 25%;
    .main-content-1-t {
      color: #333333;
    }
    .main-content-1-n {
      color: #096dd9;
      font-weight: bold;
      font-size: small;
    }
  }
}

.main-content-2 {
  background: #fefefe;
  padding: .5rem 1.5rem 0 1.5rem;
  .main-content-2-i {
    position: relative;
    display: inline-block;
    padding: .5rem 0 .5rem 0;
    width: 50%;
    color: #003a8c;
    font-size: 95%;

    &:before {
      content: "• ";
      color: #888888;
    }
  }
}

.main-content-tips {
  padding: 0.5rem 1rem;
  color: #bbbbbb;
  font-size: small;
}
