.sign-color-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  height: 200px;
}

.sign-form {
  margin: 3rem 1.5rem 2rem 1.5rem;
  border-radius: 0.5rem;

  :last-child {
    border-bottom: none;
  }
}

.sign-btn {
  margin: 0 1.5rem;
  border: none;
  border-radius: 2rem;
  line-height: 2rem;
  background: -webkit-linear-gradient(left, #3582fb, #8fbafb);
  color: #ffffff;

  &:active {
    background: #3471e2;
  }
}